*{
    margin: 0px;
    padding: 0px;
} 

html{
    scroll-behavior: smooth;
}
/* -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*- navigation bar -*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-*-*-*-*-*- */
#navbar{ 
 display: flex;
 align-items: center; 
 position: sticky;
 top: 0;
 /* position:fixed; */
 width: 100%;

 }

#navbar::before
    {
      content: "";
      background-color:rgb(14, 13, 13); 
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 100%;
      z-index: -1;
      opacity: 0.91;
      border-bottom-left-radius:5px;
      border-bottom-right-radius:5px;
    }

#logo img
     {
    height: 50px;
    margin: 05px 15px;
    }

    #logo img:hover{
        background-color: white;
       text-align: center;
       border-radius: 5px;
       cursor: pointer;
       transition: 0.3s;
       }

#navbar ul {
    display: flex;
}
 
.item{
   
    margin: 0px 2px;
    list-style: none;
    font-size: 1.3rem;
}
.item a{
    color: white;
    font-family: 'Baloo Chettan 2', cursive;
    /* border: 2px solid rgb(0, 0, 0); */
    border-radius: 5px;
    text-decoration: none;
    padding: 0px 13px
}
.item a:hover{
    color: rgb(10, 10, 10);
    /* border: 1px solid rgb(206, 204, 204); */
    background: rgb(206, 204, 204);;
    border-radius: 5px;
    text-decoration: none;
    padding: 0px 13px
}

/* -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*- HOME -*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-*-*-*-*-*- */
#home{
    margin-bottom: 10px;
    font-family: 'Bree Serif', serif;
     /* border: 2px solid rgb(255, 0, 0); */
    display: flex;
    position: relative;
      top: 0px;
      left: 0px;
    flex-direction: column;
    align-items: center;
    
}

#home::before{
    content: "";
      background:url("../IMG/BG003.jpg")no-repeat center center/cover;
      position:absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 100%;
      z-index: -1;
      opacity: 0.9;
      border-bottom-left-radius:30px ;
      border-bottom-right-radius: 30px;
     
}
#home .main{
   text-align: center;
   margin: 40px;
padding: 30px;
   
}

#home h1{
    color: white;
    text-align: center;
    
}
#home p{
    color: white;
    text-align: center;
    font-size: 1rm;
}

/* -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*- SERVICES -*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-*-*-*-*-*- */

#services-con{
    position:relative;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    text-align: center;
}

#services-con::before{
    content: "";
    background:url(../IMG/BG05.jpg)no-repeat center center/cover;
    border-radius: 30px;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#services{
    display: flex;
    margin:  10PX 100px;
}
#services .box{ 
    font-family: 'Bree Serif', serif;
    border: 5px solid white;
    background-color: rgba(201, 241, 54, 0.863);
    margin: 3px 5px;
    padding: 15px;
    border-radius: 20px;
   
}
#services .box img{
    display: block;
    height: 130px;
    margin: 20px auto;

}  

/* -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*- #Sponsor-sec -*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-*-*-*-*-*- */

#client-sec{
       height: 100%;
       width: 100%;
       position:relative;
       top: 0px;
       right: 0px;
       text-align: center;
       margin: 10px 0px;
    }

#client-sec::before{
          content: "";
          background-color: rgba(162, 250, 0, 0.616);
          border-radius: 30px;
          position: absolute;
          top: 0px;
          left: 0px;
          height: 100%;
          width: 100%;
          z-index: -1;
}

    #client-sec h1{
    
        color:black;
    }
    #client{
        display: flex;
        width: 100%;
        justify-content: center; 
       }
    
    #client img{
        
        height: 100px;
        padding: 20px 50px;
       
    }

    #client img:hover{
        background-color: rgb(234, 255, 211);
       text-align: center;
       border-radius: 20px;
       cursor: pointer;
       transition: 0.3s;
       }
    


/* -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*- #Contect-sec -*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-*-*-*-*-*- */
#Contect-sec{
           height: 100%;
           width: 100%;
           position:relative;
           top: 0px;
           right: 0px;
           text-align: center;
}
#Contect-sec::before{
            content: "";
              background:url("../IMG/BG01.jpg")no-repeat center center/cover;
              position: absolute;
              top: 0px;
              left: 0px;
              height: 100%;
              width: 100%;
              z-index: -1;
              opacity: 0.9;    
              border-top-left-radius:30px ;
              border-top-right-radius:30px;
}

#Contect-sec h1{
        color:black;
}
   
#Contect{
   
  display: flex;
  justify-content: center;
  align-items: center;
padding-bottom: 20px;

}
#Contect input{
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    font-family: 'Bree Serif', serif;
}
#Contect label{
    padding: 50px;
    font-family: 'Bree Serif', serif;
}
#Contect .form-group{
    font-family: 'Bree Serif', serif;
    margin: 16px;
}
#Contect form{
   border: 1px solid black;
   background-color: rgba(255, 38, 0, 0.76);
   border-radius: 25px;
   padding: 0px 50px;
}

#Contect .btn{
    width: 200px;
}


/* -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*- follow -*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-*-*-*-*-*- */
#follow-sec .follow{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row; 

}
#follow-sec{

    background-color: rgb(8, 8, 8);
    color: white;
    font-size: 0.9rem;
    padding: 5px;
    opacity: 0.91;

}
#follow-sec .follow-logo{
    display: flex;
}

#follow-sec img{

    height: 70px;
    margin: 10px;

}
#follow-sec img:hover{
    background-color: white;
   text-align: center;
   border-radius: 10px;
   cursor: pointer;
   transition: 0.3s;
   }



/* -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-   footer  -*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-*-*-*-*-*- */
footer{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    color: white;
    font-size: 0.9rem;
    padding: 5px;
}
footer:hover{
    background-color: white;
    color: black; 
    font-size: 0.9rem;
   cursor: pointer;
   transition: 0.3s;
   }

/* -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*- SAME FOR ALL-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-*-*-*-*-*- */
.btn{
    font-family: 'Baloo Chettan 2', cursive;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1rem;
    padding: 6px 20px;
    border: 2px solid white;
    border-radius: 15px;
    }
.btn:hover{
    background-color: white;
   color: black;
   text-align: center;
   font-size: 1rem;
   padding: 6px 20px;
   border: 2px solid white;
   border-radius: 15px;
   cursor: pointer;
   }

.h-pri{
    font-family: 'Bree Serif', serif;
    font-size: 4.3rem;
    color: rgb(148, 148, 148);
    align-items: center;
    
}   
.h-sec{
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 3.3rem;
}

.center{
       text-align: center;
   }
